<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book by ISBN</title>
</head>
<body>
    <table id="allBooks" border =1px solid black>
            <thead>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Publisher</th>
                <th>Rating</th>
                <th</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{data.ISBN_13}}</td>
                    <td>{{data.title}}</td>
                    <td>{{data.author}}</td>
                    <td>{{data.price}}</td>
                    <td>{{data.publisher}}</td>
                    <td>{{data.avg_reviews}}</td>
                    <td>{{data.complete_link}}</td>
                </tr>
            </tbody>
        </table>
</body>
</html>